<section data-id={{log._id}} class="log">
  <div class="log-header">
    <h4>{{log.owner.username}}</h4>
  </div>
  <div class="log-body">
    <p id="log-date">{{limit log.createdAt 10}}</p>
    <form id='update-text'>
      <h6>Title: </h6><input type="text" name="log[title]" type='text' placeholder="Title" value="{{log.title}}">
      <h6>Notes: </h6><input type="text" name="log[text]" type='text' placeholder="Notes" value="{{log.text}}">
      <h6>Link: </h6><input type="text" name="log[link]" type='text' placeholder="Link "value="{{log.link}}">
      <div>
        <input type="submit" value='Confirm'>
      </div>
    </form>
  </div>

</section>
